<div>
  <span>New request</span>
  <ul>
    <li>Name: <%= @contact.name %></li>
    <li>Email: <%= @contact.email %></li>
    <li>Company: <%= @contact.company %></li>
    <li>Phone: <%= @contact.phone %></li>
    <li>Question: <%= @contact.question %></li>
    <li> Attachments
    <ol>
      <% @contact.files.each do |file| %>
        <li><%= link_to "#{file.filename}", file%></li>
      <% end %>
    </ol>
    </li>
  </ul>
</div>